<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragon Ball Web App</title>
	<link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<body>
	<nav>
	<ul class="nav">
			<li class="nav-item">
				<a href="/" class="nav-link">
					Home
				</a>
			</li>
			<li class="nav-item">
				<a href="/character" class="nav-link">
					Character
				</a>
			</li>
			<li class="nav-item">
				<a href="/planet" class="nav-link">
					Planet
				</a>
			</li>
		</ul>
	</nav>
