<% include partials/head.ejs %>

<h1 class="title"><%= title %></h1>

<h3 class="search-title">Search Planet</h3>

<!-- Formulario de búsqueda por personaje -->
<form action="/dragonball/planet" method="GET" class="search-form">
    <input type="text" name="name" placeholder="Search by planet" class="search-input">
    <button type="submit" class="search-button">Search by planet</button>
</form>

<% include partials/foot.ejs %> 
